.data{
    display:flex;
    /* flex-direction: column; */
    align-items: flex-start;
    /* margin-left: -20rem; */
    /* margin-bottom: ; */
    
}
#outlined-basic{
    padding-right: 10rem;
    width: 10rem;
    
}
.contain{display:flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-left: -20rem; */
    

}
.select{
    display: flex;
    
}

::placeholder{
    width: 100vh;
}
.option{
    display: flex;
    margin-bottom: 12rem;
}
#align{
    display: flex;
    justify-content: space-around;
}