.data{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -20rem;
    
    
}
#outlined-basic{
    padding-right: 10rem;
    width: 10rem;
}
.contain{display:flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-left: -20rem; */
    

}
.select{
    display: flex;
    
}

::placeholder{
    width: 100vh;
}
.option{
    display: flex;
}
#align{
    display: flex;
    justify-content: space-around;
}

.main{
    margin-top: 3;
    
}
.logo{
    margin-left:140px;
    margin-bottom: 5px;
}
.text{
    margin-top: 60px;
    text-align: center;
    padding-left: 33px;
}
.para{
    text-align: center;
    margin-top: 50px;
}
