/* .mb-3{
    text-align: left;
   margin-left: 150px;
   font-size:larger;


} */
/* 
.t{
margin: 20px;


} */
.b{
    background:#9932CC;
    color: white;
}

.main{
   
margin: 70px;
padding-left: 50px;


}
.mains{
  
  padding-top: 20px;
  padding-left: 45px;


}
.sel{
  width: 30%;
  height: 45px;
  
}
.sele{
  padding-left: 40px;



  
}

.pop{
    text-align: center;
    margin: 20px;
    

}

.feild{
    border: none;
}



